.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: darksalmon;
}

.gridDisplay {
  margin: 5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5em;
}

