
.movie-details-container {
    display: flex;
    justify-content: space-around;
    color: white; 
    margin: 3em; 
}

.cover-container {
    width: 45%;
    margin: 3em; 
}

.featured-cover {
    width: 100%;
    height: auto;
    box-shadow: 0 0 .75em #808080;
}

.movie-descrip-container {
    margin: 3em; 
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    color: white; 
    font-size: 5em;
    margin-bottom: 30px; 
    text-align: center;
}

.tagline {
    font-size: 2em;
    margin: 0 0 30px 0; 
    color: white; 
}

.row {
    display: flex; 
    flex-direction: row;
    align-items: baseline;
    font-size: xx-large;
}

.specs-box {
    border: solid white;
    height: 10%; 
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: x-large;
}

.left-margin {
    margin: .75em;
}

.bottom-row {
    width: 90%;
    display: flex; 
    flex-direction: row;
    font-size: xx-large;
}

.small-specs-box {
    margin: .5em;
    border: solid white;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.go-back {  
    padding-top: 6px;
    margin: 0 0 0 20px;
}

.backArrow {
    display: flex;
    justify-content: baseline;
    font-size: xxx-large;
    position: relative;
}

@media screen and (max-width: 1100px) {

    .movie-details-container {
        margin: 1.5em; 
    }

    .cover-container {
        margin: 3em 0 0 0; 
    }

    .movie-descrip-container {
        margin: 2em 0 2em 2em;
    }
    
    .title {
        font-size: 4em;
        margin: 0 0 30px 0; 
    }

    .specs-box, .bottom-row, .row {
        font-size: x-large;
    }

    .bottom-row {
        width: 100%;
    }

  }
  
  
  @media screen and (max-width: 600px) {

    .movie-details-container {
        flex-direction: column;
    }

    .cover-container {
        width: 100%;
        margin: 0; 
    }

    .movie-descrip-container {
        width: 100%;
        margin: 0; 
    }

    .title {
        font-size: 3.5em;
        margin: 20px 0; 
    }

    .specs-box, .bottom-row, .row {
        font-size: large;
    }

    .small-specs-box {
        height: auto;
    }

    .backArrow {
        margin: 20px;
    }
  }